@import "./globals.scss";

.textBodyDark {
  font-size: 20px;
  font-weight: normal;
  color: var(--color-grey);
}

.textBodyLigth {
  @extend .textBodyDark;
  color: var(--color-white);
}

.textBodySemiBold {
  @extend .textBodyDark;
  font-weight: 600;
}

.textSmall {
  @extend .textBodyDark;
  font-size: 12px;
}

.textSmallFooter {
  @extend .textBodyDark;
  font-size: 10px;
}

.titleDark {
  font-size: 30px;
  font-weight: 600;
  color: var(--color-grey);
}

.titleLigth {
  @extend .titleDark;
  color: var(--color-white);
}
