header {
  min-width: calc(100% - 32px);
  height: 80px;

  border-bottom: 1px solid var(--color-white);

  padding: 0 16px;

  background-color: var(--color-grey);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  overflow: hidden;

  nav {
    min-width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;

    position: relative;

    .boxPersonalPresentation {
      display: flex;
      align-items: center;

      .me {
        margin-right: 16px;
      }
    }

    .boxButtonsWeb {
      margin-bottom: 300px;

      position: absolute;

      display: flex;
      align-items: center;
    }
  }

  .boxButtonsMobile {
    width: 100%;
    min-height: 80px;

    border-bottom: 1px solid var(--color-white);

    background-color: var(--color-grey);

    display: flex;
    align-items: center;
    justify-content: flex-end;

    position: absolute;
    top: 79px;
  }

  @media (min-width: 769px) {
    .burgerMenu {
      margin-bottom: 300px;
    }

    .boxButtonsMobile {
      position: absolute;
      top: -300px;
    }

    nav {
      .boxButtonsWeb {
        margin-right: 1.5rem;

        right: 0;
        margin-bottom: 0;
      }
    }
  }
}
