.listProject {
  display: flex;
  list-style: none;

  overflow-y: auto;

  @media (min-width: 1025px) {
    overflow-x: hidden;
  }
}

.boxScrollButtons {
  margin-right: 16px;

  display: flex;
  align-items: center;

  .scrollLeftButton {
    min-width: 50px;
    height: 252px;

    border: none;

    background: linear-gradient(to left, var(--color-grey), rgba(0, 0, 0, 0));
  }

  .scrollLeftButton:hover {
    background: linear-gradient(to left, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  }
  .scrollRightButton {
    min-width: 50px;
    height: 252px;

    border: none;

    background: linear-gradient(to right, var(--color-grey), rgba(0, 0, 0, 0));
  }

  .scrollRightButton:hover {
    background: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  }

  @media (min-width: 1025px) {
    margin-left: 116px;
  }

  @media (min-width: 1700px) {
    margin-left: 0px;
  }
}
